<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pet</title>
    <style>
        div {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>ДНЕВНИК</h1><hr>
<h4>Все записи</h4>

<div th:if="${#lists.isEmpty(notes)}">
    <p>Записей нет</p>
</div>

<div th:each="note : ${notes}">
    <div>
        <p>Id: <span th:text="${note.id}"></span></p>
        <p>Тип: <span th:text="${note.type}"></span></p>
        <p>Дата: <span th:text="${note.date}"></span></p>
        <p>Запись: <span th:text="${note.note}"></span></p>
    </div>
</div>

</body>
</html>
